#fc_align{width:100%;}
body {
    font: 13px/1.25 'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft JhengHei', '微軟正黑體', sans-serif;
    margin: 0;
    padding: 0;
}
.list-ads ul {list-style-type: none;}
.list-ads img {display: block;}
.list-ads a:link, .list-ads a:visited {color: #324FE1;}
.list-ads a:link, .list-ads a:visited {text-decoration: none;}
.list-ads a:hover {text-decoration: underline;}
.list-ads a.NoTextDecoration:hover {text-decoration: none;}
.list-ads a img {border: 0;}
.list-ads .Whs-nw {white-spice: nowrap;}
.list-ads .Grid{
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;
}
.list-ads .Py-10 {
    padding-bottom: 10px;
    padding-top: 10px;
}
.list-ads .Reset {
    margin: 0;
    padding: 0;
}
.list-ads .Grid-U-1-2 {
    width: 50%;
    display: inline-block;
    letter-spacing: normal;
    text-rendering: auto;
    vertical-align: top;
    word-spacing: normal;
}
.list-ads .Fl-start {display: inline; float: left;}
.list-ads .Mend-6 {margin-right: 6px;}
.list-ads .Maw-172 {max-width: 172px;}
.list-ads .Zoom-1 {zoom: 1;}
.list-ads .Pos-r {position: relative;}
.list-ads .Mt-6 {margin-top: 6px;}
.list-ads .Fz-s {font-size: 13px;}
.list-ads .Ov-h {
    overflow: hidden;
    zoom: 1;
}
.list-ads .Whs-n {white-space: normal;}
.list-ads .Abu-C-gray-2 {color: #5F5F5F!important;}
.list-ads .Pstart-10 {padding-left: 10px;}
.list-ads .Pend-2 {padding-right: 2px;}
.list-ads .Pb-12 {padding-bottom: 12px;}
.list-ads .Lh-14 {line-height: 1.4;}
.list-ads .D-b {display: block;}
.list-ads .Ell {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    -o-hyphens: none;
    hyphens: none;
}
.list-ads .Ell:after {
    content: ".";
    font-size: 0;
    visibility: hidden;
}
.list-ads .Mt-4 {margin-top: 4px;}
.list-ads .Fw-n {font-weight: normal;}
.list-ads .W-100 {width: 100%;}